p {
  font-family: Lato;
}
.body {
  text-align: center;
  font-family: 'Roboto Slab', serif;
  background: linear-gradient(90deg, #5e1925 50%, #055523 50%);
  overflow-x: hidden;
}
h1 {
  text-align: center;
}
.frames {
  margin-left: 40px;
}
.frame {
  border: 10px solid rgb(255, 255, 255);
  flex-grow: 1;
  width: 300px;
}
.frame label {
  font-weight: 800px;
}

.form {
  margin-left: 40px;
  align-items: center;
  align-content: center;
  text-align: center;
  border: 1px solid black;
  width: 100%;
}
